body {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 10% 80% 10%;
  place-items: center;
  text-align: center;
}

header,
footer {
  color: rgba(0, 0, 0, 0.5);
}

header a {
  display: block;
}

header a svg {
  width: 200px;
  height: auto;
}
